flows.json
[{"id":"efbf79d0.d6cec8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"da521aa4.9715e8","type":"mqtt-broker","z":"","name":"broker","broker":"52.66.209.43","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"17802be2.125ee4","type":"ui_tab","z":"","name":"Threshold","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"819fb36e.61602","type":"ui_group","z":"","name":"Threshold","tab":"17802be2.125ee4","disp":true,"width":"20","collapse":false},{"id":"cfaeb08.e14e05","type":"ui_group","z":"","name":"Humidity","tab":"17802be2.125ee4","disp":true,"width":"6","collapse":false},{"id":"618edb3f.3b76e4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"47011807.e5a708","type":"ui_tab","z":"","name":"TEMPERATURE","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"ef98adc7.943de","type":"ui_group","z":"","name":"Temprature","tab":"17802be2.125ee4","disp":true,"width":"6","collapse":false},{"id":"3e5c0bf1.920114","type":"ui_group","z":"","name":"RTB","tab":"17802be2.125ee4","disp":true,"width":"12","collapse":true},{"id":"60147565.233abc","type":"ui_tab","z":"","name":"HUMIDITY","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"62a4f414.fc438c","type":"ui_tab","z":"","name":"THRESHOLD","icon":"dashboard","disabled":false,"hidden":false},{"id":"b995c19f.210b7","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2b3f57b3.f57338","type":"ui_group","z":"","name":"Chart","tab":"17802be2.125ee4","disp":true,"width":"20","collapse":false},{"id":"2352b5fa.48a26a","type":"mqtt in","z":"efbf79d0.d6cec8","name":"rtb","topic":"/impetus/rtb/+/TEMPRATURE","qos":"2","datatype":"auto","broker":"da521aa4.9715e8","x":240,"y":200,"wires":[["e576f912.421928"]]},{"id":"603df8c6.848fd8","type":"debug","z":"efbf79d0.d6cec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":140,"wires":[]},{"id":"6cb9fa88.e7b534","type":"ui_gauge","z":"efbf79d0.d6cec8","name":"Temp","group":"3e5c0bf1.920114","order":0,"width":0,"height":0,"gtype":"gage","title":"TEMPRATURE","label":"C","format":"{{msg.payload.TEMPRATURE}}","min":"0","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":200,"wires":[]},{"id":"40673edf.6bd8b","type":"ui_gauge","z":"efbf79d0.d6cec8","name":"Humidity","group":"3e5c0bf1.920114","order":1,"width":0,"height":0,"gtype":"gage","title":"HUMIDITY","label":"%","format":"{{msg.payload.HUMIDITY}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":260,"wires":[]},{"id":"e576f912.421928","type":"json","z":"efbf79d0.d6cec8","name":"json","property":"payload","action":"","pretty":false,"x":450,"y":220,"wires":[["40673edf.6bd8b","6cb9fa88.e7b534","603df8c6.848fd8","f8786317.f225"]]},{"id":"ebe39514.3f2d88","type":"ui_slider","z":"efbf79d0.d6cec8","name":"Threshold","label":"Threshold","tooltip":"Set Email Threshold","group":"819fb36e.61602","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"/impetus/rtb/threshold","min":0,"max":"80","step":1,"x":240,"y":480,"wires":[["61251ab9.f4e414"]]},{"id":"61251ab9.f4e414","type":"mqtt out","z":"efbf79d0.d6cec8","name":"","topic":"/impetus/rtb/threshold","qos":"0","retain":"","broker":"da521aa4.9715e8","x":540,"y":480,"wires":[]},{"id":"56917852.0f6288","type":"debug","z":"efbf79d0.d6cec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":400,"wires":[]},{"id":"f8786317.f225","type":"function","z":"efbf79d0.d6cec8","name":"parser","func":" var msg1 = {};\n var msg2 = {};\n \n msg2.payload = msg.payload.TEMPRATURE;\n msg2.topic = 'TEMPRATURE';\n  \n msg1.payload =msg.payload.HUMIDITY;\n msg1.topic = 'HUMIDITY';\n\n return [msg2,msg1]","outputs":2,"noerr":0,"x":630,"y":320,"wires":[["56917852.0f6288","4774b676.475a68"],["56917852.0f6288","4774b676.475a68"]]},{"id":"4774b676.475a68","type":"ui_chart","z":"efbf79d0.d6cec8","name":"","group":"2b3f57b3.f57338","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#80ffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":960,"y":300,"wires":[[]]}]